@import url('global.css');

body {
  background-color: black;
}

.banner {
  width: 100%;
  height: 605px;
  padding-top: 50px;
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png') center / cover no-repeat;
  border-bottom: solid 1px #33A8DB;
}

.banner-content {
  width: 510px;
  height: 393px;
  margin: auto;
  text-align: center;
  top: 0; left: 0; bottom: 0; right: 0;
}

.logo {
  width: 268px;
  height: 268px;
  margin: auto;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 50%;
  position: relative;
  margin-bottom: 16px;
}

.logo > img {
  width: 268px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.banner-content > h1 {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  background-image: -webkit-linear-gradient(rgb(51, 168, 219),rgb(20, 114, 183));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
}

.banner-content > p {
  font-size: 1.24rem;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 16px;
}

.banner-content > button {
  background-color: transparent;
  border: solid 2px black;
  border-image: -webkit-linear-gradient(rgb(51, 168, 219),rgb(20, 114, 183)) 5;
  width: 326px;
  height: 57px;
  text-transform: uppercase;
  font-weight: 900;
  color: #31A8DD;
}

#course-content {
  width: 100%;
  height: 400px;
  padding-top: 70px;
  border-bottom: solid 1px #33A8DB;
  text-align: center;
}

#course-content > h2 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  color: #33A8DB;
  margin-bottom: 24px;
}

#course-content > p {
  font-size: 16px;
  font-weight: 400;
  width: 792px;
  margin: auto;
  margin-bottom: 24px;
}

.module {
  width: 535px;
  margin: auto;
  border: solid 1px #33A8DB;
  background-color: #252525;
  border-radius: 57px;
  margin-bottom: 16px;
  padding: 16px;
  box-shadow: inset -5px 6px 8px rgba(0, 0, 0, 0.7);
}

.module > span {
  color: #33A8DB;
}

#transform-world {
  background-image: url('../images/woman-code.png');
  background-size: cover;
  background-attachment: fixed;
  border-bottom: solid 1px #33A8DB;
  padding: 110px 200px 110px;
}

#transform-world > p {
  font-size: 40px;
  font-weight: 900;
  width: 244px;
  text-transform: lowercase;
  text-shadow: 3px 2px #33A8DB;
}

#professional-challenges {
  border-bottom: solid 1px #33A8DB;
  text-align: center;
  padding: 50px;
}

#professional-challenges > h2 {
  color: #33A8DB;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  width: 745px;
  margin: auto;
  letter-spacing: 5px;
  margin-bottom: 32px;
}

#professional-challenges > img {
  margin-bottom: 32px;
}

#professional-challenges > p {
  font-size: 16px;
  font-weight: 400;
  width: 745px;
  margin: auto;
}

footer {
  text-align: center;
  padding: 60px;
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2));
}

footer > img {
  margin-bottom: 8px;
}

footer > p {
  font-size: 16px;
  font-weight: 400;
}

footer a {
  color: #33A8DB;
  text-decoration: none;
  font-weight: 700;
}